:root {
    box-sizing: border-box;
}

#board {
    height: 400px;
    display: flex;
    background-color: cornflowerblue;
}

.column {
    border: 3px solid rgb(0, 128, 96);
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
}

.disc {
    height:65px;
    border-radius: 50%;
}

.disc.pl1 {
    background-color: black;
}

.disc.pl2 {
    background-color: red;
}